
h3,h4{
    color: white;
    font-size: 35px;
}
#icon{
    color: white;
    font-size: 35px;
}
.container{
    border:1px solid rgb(46, 45, 45);
    border-radius: 4px;
    margin-right: 130px;
    
   
   
}
p{
    color: white;
    font-size: 25px;
}
#dd{
    display: flex;
}